.cell, .emptyCell {
  width: 100%;
  height: 100%;
  background-color: var(--color-card);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  background-color: var(--color-soft);
}
